/*
Theme Name: imas
Theme URI: google.lt
Description: imas one page
Version: 1.0
Author: vilius
Author URI: google.lt
*/


/*html, body {
    font-family: 'Lora', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
}*/
.myNavbar{
    background: none;
    border: 0;
    border-radius: 0;
    z-index: 999;
    position: absolute;
    width: 100%;
    font-family: 'Open Sans', "sans-serif";
    padding: 0 115px;
}
.navbar-brand{
    margin-top: 24px;
}
.navbar-expand-md .navbar-nav .nav-link {
    margin-left: 100px;
    opacity: .69;
    color: white;
    margin-top: 40px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.carousel-caption h1{
    font-family: 'Open Sans', "sans-serif";
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 38px;
}
.carousel-caption h3{
    font-family: 'Open Sans', "sans-serif";
    font-size: 25px;
    margin-bottom: 89px;
}
.btn-GetStartedNow{
    border-radius: 36px;
    font-size: 25px;
    font-family: 'Open Sans', "sans-serif";
    width: 320px;
    height: 72px;
    margin-bottom: 150px;
}
.sliderArrows {
    width: 44px;
    height: 68px;
}
/*Our Services*/

.row h1 {
    margin-top: 75px;
    font-family: 'Lora', serif;
    font-size: 42px;
    margin-bottom: 29px;
    font-weight: 700;
}
.sericeHorizontalLine{
    width: 147px;
    height: 4px;
    background-color: #00a5ff;
    margin-bottom: 121px;
}
.fourServicesIcons{
    margin-right: 214px;
    padding: 0 115px;
}
.fourServicesIcons h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 18px;
}
.fourServicesIcons p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #999999;
    margin-bottom: 80px;
}
.ourServiceLogoLine{
    width: 41px;
    height: 1px;
    background-color: #888888;
}
/*---Recent Brands --*/

.bgColorBrands{
    background-color: #f5f6f8;
    padding: 0 115px;
}
.brandsTitle{
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.brandsHorizontalLine{
    width: 147px;
    height: 4px;
    background-color: #00a5ff;
    margin-bottom: 121px;
}
.img-opacity img{
    opacity: .4;
    margin-bottom: 126px;
}

.img-opacity img:hover{
    cursor: pointer;
    opacity: 1.0;

}


/*--- Footer --*/
.footerBgColor{
    background-color: #3b404c;
}
.copyRights{
    font-family: 'Open Sans', "sans-serif";
    font-size: 16px;
    color: #ffffff;
    margin: 53px 0;
}

/*---Media Queries --*/
@media screen and (max-width: 992px) {
    .myNavbar{
        padding: 0 80px;
    }

    .carousel-caption h1{
        font-family: 'Open Sans', "sans-serif";
        font-size: 5vw;
        font-weight: 600;
        margin-bottom: 38px;
    }
    .carousel-caption h3{
        font-family: 'Open Sans', "sans-serif";
        font-size: 2vw;
        margin-bottom: 89px;
    }
    .btn-GetStartedNow{
        width: 30vw;
        height: 6vw;
        font-size: 2vw;

    }
    .sliderArrows {
        width: 44px;
        height: 68px;
    }

}
@media (max-width: 768px) {
    .myNavbar{
        padding: 0 55px;
    }

    .carousel-caption h1{
        font-family: 'Open Sans', "sans-serif";
        font-size: 5vw;
        font-weight: 600;
        margin-bottom: 38px;
    }
    .carousel-caption h3{
        font-family: 'Open Sans', "sans-serif";
        font-size: 2vw;
        margin-bottom: 40px;
    }
    .btn-GetStartedNow{
        width: 30vw;
        height: 6vw;
        font-size: 2vw;

    }
    .sliderArrows {
        width: 5vw;
        height: 68px;
    }

}
@media (max-width: 576px) {
    .myNavbar{
        padding: 0 20px;
    }
    .navbar-brand{
        margin-top: 1px;
    }

    .carousel-caption h1{
        font-family: 'Open Sans', "sans-serif";
        font-size: 5vw;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .carousel-caption h3{
        font-family: 'Open Sans', "sans-serif";
        font-size: 2vw;
        margin-bottom: 20px;
    }
    .btn-GetStartedNow{
        width: 30vw;
        height: 6vw;
        font-size: 2vw;
    }
    .sliderArrows {
        width: 5vw;
        height: 68px;
    }


}








/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








